.row {
    height: 70px;
}

.bg-black {
    background-color: black;
}

.bg-yellow {
    background-color: yellow;
}

.bg-white {
    background-color: white; 
}


.bg-orange {
    background-color: orange;
}


